doctype html
html
    head
        link(rel='stylesheet', type='text/css', href='../css/paint.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
    body.main
        .board
            canvas.board_cvs
        .coordinate
        div.list_title 
            div.text kifu list
        ul.kifu_list 
            each kifu_item, index in kifu_macro
                li(id="kifu_item"+index class="emp_box")= kifu_item
            else
                div There is no kifu available now
        div.control_bar 
            div.controls
                button.control.play_pause 
                    i(class="fas fa-play")
                button.control.step_forward
                    i(class="fa fa-step-forward")
                button.control.step_back
                    i(class="fas fa-step-backward")
                button.control.comment
                    i(class="fas fa-closed-captioning")
        form.upload_form(method='POST', enctype='multipart/form-data', action='/uploads/upload')
            input.file_button(type='file', name='filename')
            input(type='submit', value='upload')
        .selection_bar
            .select_sente
                .discrep Sente
                input#normal.sente(type='checkbox', value='Yes', onclick="check(this, 'sente');")
                | Normal
                input#black.sente(type='checkbox', value='Yes', onclick="check(this, 'sente');")
                | Black
                input#white.sente(type='checkbox', value='Yes', onclick="check(this, 'sente');")
                | White
            .select_mode
                .discrep Mode
                input#play_kifu.mode(type='checkbox', value='Yes', onclick="check(this, 'mode');")
                | View kifu
                input#simulation.mode(type='checkbox', value='Yes', onclick="check(this, 'mode');")
                | Simulation
                input#battle.mode(type='checkbox', value='Yes', onclick="check(this, 'mode');")
                | Battle

        script(src='../js/tool.js')
        script(src='../js/paint.js')
        script(src='../js/logic.js')
        script(src='../js/check.js')
        script(src='../js/connect.js')
        script(src='../js/control.js')

