.main {
    display: grid;
    //grid-template-columns: 600px 1fr;
    grid-template-areas: 'board coor_info' 'board kifu_list' 'board up_form' 'selection_bar  selection_bar';
    .board {
        grid-area: board;
    }
    .coordinate {
        grid-area: coor_info;
        font-size: large;
    }
    .kifu_list {
        grid-area: kifu_list;
    }
    .upload_form {
        grid-area: up_form;
    }
    .selection_bar {
        grid-area: selection_bar;
        display: grid;
        grid-template-areas: 'sente mode';
        .select_sente {
            grid-area: sente;
        }
        .select_mode {
            grid-area: mode;
        }
    }
}