.main {
    display: grid;
    color: #fff; //text color 
    background: linear-gradient(#434343, #000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    //grid-template-columns: 600px 1fr;
    grid-template-areas: 'board  coor_info .' 'board list_title .' 'board kifu_list .' 'board control_bar .' 'board up_form .' 'selection_bar  selection_bar .';
    .board {
        grid-area: board;
    }
    .coordinate {
        grid-area: coor_info;
        font-size: large;
    }
    .list_title {
        text-align: center;
        grid-area: list_title;
        align-self: flex-end;
        padding-bottom: 1rem;
    }
    .kifu_list {
        text-align: center;
        grid-area: kifu_list;
        margin: 0;
        padding: 0;
        overflow: hidden; // hide list bullet
        border-radius: 5px;
        z-index: 10;
        background: #200948;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        li {
            margin: 0;
            padding: 10px 20px;
            background: #200948;
            cursor: pointer;
            &:hover {
                background: #270a5a;
            }
            &:active {
                background: #150531;
            }
            &:before {
                font-family: 'Font Awesome 5 Free';
                // f14a means check
                // f0c8 means empty box
                content: '\f0c8';
                margin: 0 5px 0 -15px;
            }
        }
    }
    .control_bar {
        grid-area: control_bar;
        height: 3rem;
        background-color: rgba(0, 0, 0, 0.6);
        border: none;
        outline: none;
        //padding-top: 1rem;
        .controls {
            display: flex;
            height: 100%;
            button.control {
                outline: none;
                cursor: pointer;
                border: none;
                color: #ccc;
                background: none;
            }
            .play_pause,
            .step_forward,
            .step_back,
            .comment {
                width: 25%;
                &:hover {
                    background-color: #151212;
                }
            }
        }
    }
    .upload_form {
        padding: 10px 20px;
        grid-area: up_form;
    }
    .selection_bar {
        grid-area: selection_bar;
        display: grid;
        grid-template-areas: 'sente mode';
        .select_sente {
            grid-area: sente;
        }
        .select_mode {
            grid-area: mode;
        }
    }
}